<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/shop-{{product.CATEGORY_ID}}">{{product.CATEGORY}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{product.NAME}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="../{{product.PHOTO_LINK}}">
                                    <img class="d-block w-100" src="../{{product.PHOTO_LINK}}" alt="First slide">
                                </a>
                            </div>
                        </div>
                        <ol class="carousel-indicators" data-toggle="tooltip" data-placement="top" title="Sản phẩm liên quan">
                            {{#related_product}}
                            <li class="active" data-target="#related_slider" style="background-image: url('../{{photo_link}}');" data-toggle="tooltip" data-placement="bottom" title="{{name}}">
                                <a href="/shop/product?id={{id}}"> </a>
                            </li>
                            {{/related_product}}
                        </ol>
                    </div>
                    <style>
                        #product_details_slider li a { margin: 0px; display: block; width: 100%; height: 100%; }
                    </style>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">{{product.PRICE}} VND</p>
                        <a href="product-details.html">
                            <h6>{{product.NAME}}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Viết đánh giá</a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> {{product.STATUS}}</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>{{{product.DESCRIPTION}}}</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post">
                        <div class="cart-btn d-flex mb-50">
                            <p>Số lượng</p>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <button type="button" name="addtocart" value="5" class="btn amado-btn" onclick="AddThisToCart()">Thêm vào giỏ</button>
                        <script>
                            function AddThisToCart() {
                                let amountInput = document.getElementById('qty');
                                let id = {{product.ID}};
                                let name = '{{product.NAME}}';
                                let price = {{product.PRICE}};
                                let amount = parseInt(amountInput.value);
                                AddToCart(id, name, price, amount);
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
        <div id="comment-box">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Bình luận</h1>
                </div>
            </div>
            {{#if user}}
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="img-responsive user-photo avatar rounded-circle" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="max-height: 30px; margin-right: 20px; margin-left: 20px;">
                            </div>
                            <div class="col-xs-9">
                                <strong>{{user.username}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/shop/product?id={{product.ID}}" id="comment-form" method="post">
                            <textarea class="comment form-control" name="comment" id="comment-content" rows="5"></textarea><br>
                            <button type="submit" id="comment" class="myButton">Viết bình luận</button>
                        </form>
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            {{else}}
                <form action="/user/login">
                    <button type="submit"  class="myButton2">Đăng nhập để viết đánh giá</button>
                </form><br>
            {{/if}}
            <div id="new-comment-box"></div>
            <div id="comment-wrapper">
            </div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="navigation">
                        <div class="pagination justify-content-end mt-50" id="pagination-wrapper">
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
<script src="../js/client.js"></script>
<script>
    let state = {
        'querySet': {{{json comment}}},
        'page': 1,
        'rows': 3,
        'window': 5,
    };
</script>
<script src="../js/pagination.js"></script>
<script src="../js/product-script.js"></script>