<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Loại</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li ><a href="/shop">Tất cả</a></li>
            </ul>
        </div>
        {{#category}}
        <div class="catagories-menu">
            <ul>
                <li ><a href="/shop?category={{category_id}}">{{name}}</a></li>
            </ul>
        </div>
        {{/category}}
    </div>


    <div class="widget brands mb-50">
        <h6 class="widget-title mb-30">Gian hàng</h6>
        <div class="widget-desc">
            <div class="form-check">
                {{#producers}}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="{{producer_id}}" name="producer_checkbox">
                        {{name}}
                    </label>
                </div>
                {{/producers}}
            </div>
        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <!--<div class="widget color mb-50">
        <h6 class="widget-title mb-30">Màu</h6>

        <div class="widget-desc">
            <ul class="d-flex">
                    <li><a onclick="Color('')" style="background-color: "></a></li>
            </ul>
        </div>
    </div>-->

    <!-- ##### Single Widget ##### -->
    <div class="widget price mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Giá</h6>

        <div class="widget-desc">
            <div class="slider-range">
                <div data-min="100000" data-max="50000000" data-unit="" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="100000" data-value-max="50000000" data-label-result="">
                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="" id="slider_left"></span>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="" id="slider_right"></span>
                </div>
                <div class="range-price" id="range_price">100000 - 50000000</div>
            </div>
        </div>
    </div>
    <dic class="widget mb-50">
        <button type="button" class="btn btn-outline-primary btn-block" onclick="ProducerSearch()">Search</button>
    </dic>
</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
                        {{#if item_count}}
                            <p>1-{{item_count}}/{{item_count}}</p>
                        {{else}}
                            <p>0-0/0</p>
                        {{/if}}
                        <div class="view d-flex">
                            <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sắp xếp theo</p>
                            <form action="#" method="get">
                                <select name="select" id="sortBydate" onchange="SortFilter()">
                                    <option value="newest">Mới nhất</option>
                                    <option value="oldest">Cũ nhất</option>
                                    <option value="lowest">Giá thấp nhất</option>
                                    <option value="highest">Giá cao nhất</option>
                                </select>
                            </form>
                        </div>
                        <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            <form action="#" method="get">
                                <select name="select" id="viewProduct" onchange="PageMaxObject()">
                                    <option value="6">6</option>
                                    <option value="10">10</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="list_product">

        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination-->
                <nav aria-label="navigation">
                    <div class="pagination justify-content-end mt-50" id="pagination-wrapper">
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery/jquery-3.4.1.min.js"></script>
<script>
    let state = {
        'querySet': {{{json product}}},
        'page': 1,
        'rows': 6,
        'window': 5,
    };
</script>
<script src="../js/pagination.js"></script>
<script src="../js/shop-script.js"></script>